node_modules
.DS_Store
*.log

.env*
!!.env*

# directus
uploads
*.db

# sveltekit
.svelte-kit
.vite
build

# impeccable
**/.impeccable/config.local.json
**/.impeccable/review
**/.impeccable/live
**/.impeccable/questions
